body {
    font-family: var(--font-two);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/milky-way-starry-sky-night-sky-star.jpeg");
    background-color: var(--darkblue);
}

h2 {
    font-family: var(--font-two);
    font-size: 1.6rem;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

.text{
    font-family: var(--font-one);
    font-size: .8rem;
    color: white;
}

.mybtn {
    font-size: 1.4rem;
}

#portfolio {
    height: 100vh;
    padding: 2em;
}

#skills {
    height: 100vh;
    padding: 2em;
}