#contact {
    height: 90vh;
    padding: 2em;
}

form {
    position: absolute;
    left: 42%;
    text-align: center;
}

h2 {
    color: #007bff;
    font-size: 1.6rem;
}

h4 {
    color: #007bff;
}
