.navbar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/milky-way-starry-sky-night-sky-star.jpeg");
    background-color: var(--darkblue);
}

.navbar-brand {
    font-family: var(--font-two);
}

.nav-item a {
    color: white;
    font-family: var(--font-one);
}

.nav-link {
    color: white;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}