:root {
    --darkblue: #183f65;
    --darkpurple: #35064e;

    --font-one: 'Walter Turncoat', cursive;
    --font-two: 'Rock Salt', cursive;
    
    font-family: 'Gochi Hand', cursive;
    font-family: 'Walter Turncoat', cursive;
    font-family: 'Rock Salt', cursive;
    font-family: 'Londrina Sketch', cursive;
    font-family: 'Londrina Outline', cursive;
    font-family: 'Cabin Sketch', cursive;
}
