:root {
    --red: #e80d0d;
    --blue: #2C89E1;
    --darkblue: #0e0e55;
    --purple: #842CE1;
    --darkpurple: #35064e;
    --magenta: #DE2CE1;
    --green: #11E548;

    --font-one: 'Walter Turncoat', cursive;
    --font-two: 'Rock Salt', cursive;
    
    font-family: 'Gochi Hand', cursive;
    font-family: 'Walter Turncoat', cursive;
    font-family: 'Rock Salt', cursive;
    font-family: 'Londrina Sketch', cursive;
    font-family: 'Londrina Outline', cursive;
    font-family: 'Cabin Sketch', cursive;
}

#grad1 {
    height: 200px;
    background-color: #35064e; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, darkblue, #35064e);
} 

                    

