:root {
    --red: #e80d0d;
    --blue: #2C89E1;
    --purple: #842CE1;
    --darkpurple: #551676;
    --magenta: #DE2CE1;
    --green: #11E548;

    --font-one: 'Black And White Picture', sans-serif;
    --font-two: 'Gamja Flower', cursive;
}